/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

/* 3D-BUTTON-1 */
.btn-3d-1 {
  position: relative;
  background-color: red;
  color: white;
  font-size: larger;
  padding: 10px 24px;
  border: none;
  box-shadow: -6px 6px 0 rgb(165, 4, 4);
  outline: none;
}

.btn-3d-1::before {
  position: absolute;
  display: block;
  top: 0;
  left: -6px;
  content: '';
  border: solid 6px transparent;
  width: 0;
  height: 0;
  border-bottom: solid 6px rgb(165, 4, 4);
  border-top: 0;
  border-right: 0;
}

.btn-3d-1::after {
  position: absolute;
  display: block;
  bottom: -6px;
  right: 0;
  content: '';
  border: solid 6px transparent;
  width: 0;
  height: 0;
  border-top: solid 6px rgb(165, 4, 4);
  border-bottom: 0;
  border-bottom: 0;
}

.btn-3d-1:hover {
  background-color: rgb(231, 5, 5);
}

.btn-3d-1:active {
  background: rgb(219, 4, 4);
  top: 3px;
  left: -3px;
  box-shadow: -3px 3px 0 rgb(165, 4, 4);
}

.btn-3d-1:active::before {
  position: absolute;
  display: block;
  top: 0;
  left: -3px;
  content: '';
  border: solid 3px transparent;
  width: 0;
  height: 0;
  border-bottom: solid 3px rgb(165, 4, 4);
  border-top: 0;
  border-right: 0;
}

.btn-3d-1:active::after {
  position: absolute;
  display: block;
  bottom: -3px;
  right: 0;
  content: '';
  border: solid 3px transparent;
  width: 0;
  height: 0;
  border-top: solid 3px rgb(165, 4, 4);
  border-bottom: 0;
  border-bottom: 0;
}

/* 3D-BUTTON-2  */
.btn-3d-2 {
  background-color: hsl(0, 100%, 50%);
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px hsl(0, 100%, 40%), 0 3px hsl(0, 100%, 35%),
    0 4px hsl(0, 100%, 30%), 0 5px hsl(0, 100%, 25%), 0 6px hsl(0, 100%, 20%),
    0 7px hsl(0, 100%, 15%);
  outline: none;
  color: white;
  text-shadow: 0px -1px hsl(0, 100%, 15%);
  font-size: larger;
}

.btn-3d-2:active {
  top: 3px;
  box-shadow: 0 2px hsl(0, 100%, 30%), 0 3px hsl(0, 100%, 25%),
    0 4px hsl(0, 100%, 20%);
}

.btn-3d-2:hover {
  background-color: hsl(0, 100%, 45%);
}

/* GRADIENT-BUTTON-1 */

.gradient-button-1 {
  border: solid 10px orange;
  padding: 10px 24px;
  font-size: larger;
  border-image: linear-gradient(to top right, orangered, yellow);
  border-image-slice: 1;
  color: orangered;
  outline: none;
  transition: all ease 0.3s;
}

.gradient-button-1:hover,
.gradient-button-2:hover {
  border-image-slice: 1 fill;
  color: white;
}

/* GRADIENT-BUTTON-2 */

.gradient-button-2 {
  border: solid 4px orangered;
  padding: 10px 24px;
  font-size: larger;
  border-image: linear-gradient(to right, orangered, transparent);
  border-image-slice: 1;
  background-color: #e7eef1;
  color: orangered;
  transition: all ease 0.3s;
}

/* ANIMATED-BUTTON-1 */
.animated-button-1 {
  background-color: teal;
  padding: 10px 24px;
  font-size: larger;
  outline: none;
  color: white;
  background-image: url('pattern.png');
}

.animated-button-1:hover {
  animation: move-to-right 10s linear infinite;
}

@keyframes move-to-right {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

/* ANIMATED BUTTON 2 */
.animated-button-2 {
  position: relative;
  background-color: teal;
  box-sizing: border-box;
  width: 262px;
  padding: 20px 40px;
  font-size: large;
  outline: none;
  color: white;
  transition: all ease 0.3s;
}

.animated-button-2:hover {
  padding: 20px 60px 20px 20px;
}

.animated-button-2:hover::after {
  content: '»';
  color: white;
  margin-left: 10px;
}

/* TOOGLE BUTTON 1 */
.toggle-1 {
  display: inline-block;
  vertical-align: top;
}

.toggle-1__input {
  display: none;
}

.toggle-1__button {
  position: relative;
  display: block;
  width: 80px;
  height: 32px;
  background-color: hotpink;
}

.toggle-1__button::before {
  position: absolute;
  content: 'OFF';
  background-color: white;
  top: 2px;
  right: 2px;
  transition: all ease 0.3s;
}

.toggle-1__button:hover {
  cursor: pointer;
}

.toggle-1__input:checked + .toggle-1__button {
  background-color: turquoise;
}

.toggle-1__input:checked + .toggle-1__button::before {
  content: 'ON';
  right: 52px;
}

/* TOOGLE BUTTON 2 */

.toggle-2 {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.toggle-2__input {
  display: none;
}

.toggle-2__button::before {
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  content: '';
  background-color: #cccccc;
  left: 15px;
  top: 9px;
}

.toggle-2__button {
  margin-left: 5px;
  background-color: whitesmoke;
  padding: 5px 28px;
  border: 1px solid #cccccc;
  color: #cccccc;
}

.toggle-2__input:checked + .toggle-2__button {
  background-color: turquoise;
  color: white;
}

.toggle-2__input:checked + .toggle-2__button::before {
  background-color: white;
}

.toggle-2__button:hover {
  cursor: pointer;
}
