/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */
.triangle {
  position: relative;
  /* display: block; */
  width: 100%;
  height: 300px;
  margin: 0 auto;
  color: red;
  text-align: center;
  clip-path: polygon(50% 0, 20% 100%, 80% 100%);
}

.triangle div {
  position: absolute;
  top: 0;
  background-color: red;
  line-height: 100px;
  width: 100%;
}

.triangle .mid {
  border: solid 5px transparent;
}
